#main-nav a {
    color: #444
}

#mobile-header {
    background: #eee
}

#main-nav {
    color: #444
}

#main-nav>ul>li>ul {
    background: #e4e4e4
}

#main-nav ul li a:hover, #main-nav>ul>li:hover>a {
    color: #fff;
    background: #1ba3e3
}

@media only screen and (min-width: 640px) {
    #content-wrap {
        overflow: hidden
    }
    .mobile-only {
        display: none
    }
    #main-nav {
        position: relative;
        z-index: 100;
        margin: 0 auto;
        max-width: 1200px
    }
    #main-nav ul li {
        position: relative;
        float: left;
        width: 139.71428571428572px;
        width: calc(12.5%)
    }
    #main-nav ul li a {
        text-align: center;
        display: block;
        padding: 1em 1.5em
    }

    #main-nav>ul {
        height: 50px;
        position: relative;
        z-index: 100
    }
    #main-nav>ul>li {
        position: relative;
        display: block;
        float: left;
        width: 12.5%
    }
    #main-nav>ul>li>a {
        height: 50px;
        box-sizing: border-box;
        -moz-box-sizing: border-box;
        -ms-box-sizing: border-box;
        -webkit-box-sizing: border-box;
        -khtml-box-sizing: border-box;
        width: 100%;
        padding: 0 1em;
        text-align: center;
        display: table
    }
    #main-nav>ul>li>a>span {
        display: table-cell;
        vertical-align: middle;
        text-align: center
    }
    nav#main-nav .menu-content {
        padding: .5em
    }
    #main-nav>ul>li a {
        -webkit-transition: background-color .25s ease-in-out;
        -moz-transition: background-color .25s ease-in-out;
        -o-transition: background-color .25s ease-in-out;
        transition: background-color .25s ease-in-out
    }
    #main-nav>ul>li>ul {
        opacity: 0;
        -webkit-transition: opacity .25s ease-in-out;
        -moz-transition: opacity .25s ease-in-out;
        -o-transition: opacity .25s ease-in-out;
        transition: opacity .25s ease-in-out
    }
    #main-nav>ul>li:hover>ul {
        opacity: 1
    }
    #main-nav>ul>li>ul>li>a {
        font-weight: 700
    }
    #main-nav>ul>li>ul>li a {
        padding: .5em
    }
    #main-nav>ul>li>ul {
        overflow: hidden
    }
    #main-nav>ul>li>ul {
        position: absolute;
        left: -9999px;
        padding: 6px;
        box-sizing: border-box;
        -moz-box-sizing: border-box;
        -ms-box-sizing: border-box;
        -webkit-box-sizing: border-box;
        -khtml-box-sizing: border-box
    }
    #main-nav>ul>li:hover>ul {
        left: 0
    }
    #main-nav>ul>li>ul>li {
        box-sizing: border-box;
        -moz-box-sizing: border-box;
        -ms-box-sizing: border-box;
        -webkit-box-sizing: border-box;
        -khtml-box-sizing: border-box;
        padding: 6px
    }
    #main-nav>ul>li>ul>li ul li {
        width: 100%
    }
    #main-nav>ul>li.full {
        position: static
    }
    #main-nav>ul>li.full>ul {
        width: 100%!important
    }
    #main-nav>ul>li.end-menu-item:hover>ul {
        right: 0;
        left: auto
    }
    #main-nav>ul>li.columns-5>ul {
        width: 600%
    }
    #main-nav>ul>li.columns-4>ul {
        width: 480%
    }
    #main-nav>ul>li.columns-3>ul {
        width: 360%
    }
    #main-nav>ul>li.columns-2>ul {
        width: 240%
    }
    #main-nav>ul>li.columns-1>ul {
        width: 120%
    }
    #main-nav>ul>li.columns-2>ul li.colspan-2 {
        width: 100%
    }
    #main-nav>ul>li.columns-3>ul>li.colspan-2 {
        width: 66.66666666%
    }
    #main-nav>ul>li.columns-3>ul>li.colspan-3 {
        width: 100%
    }
    #main-nav>ul>li.columns-4>ul>li.colspan-2 {
        width: 50%
    }
    #main-nav>ul>li.columns-4>ul>li.colspan-3 {
        width: 75%
    }
    #main-nav>ul>li.columns-4>ul>li.colspan-4 {
        width: 100%
    }
    #main-nav>ul>li.columns-5>ul>li.colspan-2 {
        width: 40%
    }
    #main-nav>ul>li.columns-5>ul>li.colspan-3 {
        width: 60%
    }
    #main-nav>ul>li.columns-5>ul>li.colspan-4 {
        width: 80%
    }
    #main-nav>ul>li.columns-5>ul>li.colspan-5 {
        width: 100%
    }
    #main-nav>ul>li.columns-5>ul>li {
        width: 20%
    }
    #main-nav>ul>li.columns-4>ul>li {
        width: 25%
    }
    #main-nav>ul>li.columns-3>ul>li {
        width: 33.333333333333336%
    }
    #main-nav>ul>li.columns-2>ul>li {
        width: 50%
    }
    #main-nav>ul>li.columns-1>ul>li {
        width: 100%
    }
    #main-nav ul {
        margin-left: 0!important;
        display: block!important
    }
    #placeholder-content {
        font-size: 16px
    }
}

@media only screen and (max-width: 639px) {
    #content-wrap {
        overflow: hidden
    }
    body {
        overflow-x: hidden;
        vertical-align: top
    }
    body.lock {
        overflow: hidden
    }
    body.lock #placeholder-content {
        overflow: hidden
    }
    .mobile-only {
        display: block
    }
    #page-wrap {
        width: 100%;
        -webkit-transition: left .25s ease-in-out;
        -moz-transition: left .25s ease-in-out;
        -o-transition: left .25s ease-in-out;
        transition: left .25s ease-in-out;
        position: relative;
        left: 0;
        padding-top: 48px;
        -webkit-overflow-scrolling: touch
    }
    #page-wrap.active, #page-wrap.active #mobile-header {
        left: 250px
    }
    #page-wrap #main-nav {
        overflow-x: hidden;
        -webkit-transition: left .25s ease-in-out;
        -moz-transition: left .25s ease-in-out;
        -o-transition: left .25s ease-in-out;
        transition: left .25s ease-in-out;
        overflow-y: auto;
        padding-bottom: 0;
        top: 0;
        height: 100%;
        position: fixed;
        left: -250px;
        top: 0;
        width: 250px
    }
    #page-wrap.active #main-nav {
        left: 0
    }
    #page-wrap #main-nav>ul {
        -webkit-transition: margin-left .25s ease-in-out;
        -moz-transition: margin-left .25s ease-in-out;
        -o-transition: margin-left .25s ease-in-out;
        transition: margin-left .25s ease-in-out
    }
    #mobile-header {
        -webkit-transition: left .25s ease-in-out;
        -moz-transition: left .25s ease-in-out;
        -o-transition: left .25s ease-in-out;
        transition: left .25s ease-in-out;
        left: 0;
        width: 100%;
        position: fixed;
        top: 0;
        height: 48px;
        line-height: 48px
    }
    #mobile-menu-nav {
        width: 48px;
        float: left
    }
    #mobile-page-title {
        float: left;
        margin-left: 1em;
        text-align: center;
        color: #444
    }
    #mobile-header #mobile-menu-btn {
        -webkit-transition: background-color .15s ease-in-out;
        -moz-transition: background-color .15s ease-in-out;
        -o-transition: background-color .15s ease-in-out;
        transition: background-color .15s ease-in-out;
        display: block;
        background: url('../images/menu-toggle.png') no-repeat top left;
        width: 48px;
        height: 48px
    }
    #mobile-header #mobile-menu-btn.active {
        background-position: 0 -48px;
        background-color: #1ba3e3
    }
    #main-nav {
        overflow-x: hidden
    }
    #main-nav ul {
        position: absolute;
        width: 100%
    }
    #main-nav ul li {
        width: 100%
    }
    #main-nav ul li a {
        padding: 0 1em;
        height: 48px;
        line-height: 48px;
        white-space: nowrap;
        text-overflow: ellipsis;
        display: block
    }
    #main-nav ul ul {
        width: 250px;
        position: absolute;
        display: none;
        left: 250px;
        top: -1px
    }
    #main-nav li.parent.active ul {
        display: block
    }
    #main-nav li.parent>a:after {
        content: '+';
        position: absolute;
        right: 1em
    }
    #main-nav .menu-content {
        padding: 1em
    }
    #main-nav ul li.mobile-child-nav {
        overflow: hidden
    }
    #main-nav ul li.mobile-child-nav .mobile-nav-back {
        position: absolute;
        top: 0;
        left: 0;
        padding: 0;
        float: left;
        width: 48px;
        height: 48px;
        display: block;
        background: url('../images/menu-toggle.png') no-repeat -48px 0
    }
    #main-nav ul li.mobile-child-nav .mobile-nav-back:hover {
        background-position: -48px -48px;
        background-color: #1ba3e3
    }
    #main-nav ul li.mobile-child-nav .mobile-clicked-link {
        overflow: hidden;
        text-overflow: ellipsis;
        width: 202px;
        float: left;
        box-sizing: border-box;
        -moz-box-sizing: border-box;
        -ms-box-sizing: border-box;
        -webkit-box-sizing: border-box;
        -khtml-box-sizing: border-box;
        margin-left: 48px
    }
    #placeholder-content {
        font-size: 14px;
    }
}

.lt-ie9 #content-wrap {
    overflow: hidden
}

.lt-ie9 .mobile-only {
    display: none
}

.lt-ie9 #main-nav {
    position: relative;
    z-index: 100;
    margin: 0 auto;
    max-width: 978px
}

.lt-ie9 #main-nav ul li {
    position: relative;
    float: left;
    width: 139.71428571428572px;
    width: calc(14.285714285714286%)
}

.lt-ie9 #main-nav ul li a {
    text-align: center;
    display: block;
    padding: 1em 1.5em
}

.lt-ie9 #main-nav ul li ul li a {
    text-align: left
}

.lt-ie9 #main-nav>ul {
    height: 50px;
    position: relative;
    z-index: 100
}

.lt-ie9 #main-nav>ul>li {
    position: relative;
    display: block;
    float: left;
    width: 14.285714285714286%
}

.lt-ie9 #main-nav>ul>li>a {
    height: 50px;
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    -ms-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    -khtml-box-sizing: border-box;
    width: 100%;
    padding: 0 1em;
    text-align: center;
    display: table
}

.lt-ie9 #main-nav>ul>li>a>span {
    display: table-cell;
    vertical-align: middle;
    text-align: center
}

.lt-ie9 nav#main-nav .menu-content {
    padding: .5em
}

.lt-ie9 #main-nav>ul>li a {
    -webkit-transition: background-color .25s ease-in-out;
    -moz-transition: background-color .25s ease-in-out;
    -o-transition: background-color .25s ease-in-out;
    transition: background-color .25s ease-in-out
}

.lt-ie9 #main-nav>ul>li>ul {
    opacity: 0;
    -webkit-transition: opacity .25s ease-in-out;
    -moz-transition: opacity .25s ease-in-out;
    -o-transition: opacity .25s ease-in-out;
    transition: opacity .25s ease-in-out
}

.lt-ie9 #main-nav>ul>li:hover>ul {
    opacity: 1
}

.lt-ie9 #main-nav>ul>li>ul>li>a {
    font-weight: 700
}

.lt-ie9 #main-nav>ul>li>ul>li a {
    padding: .5em
}

.lt-ie9 #main-nav>ul>li>ul {
    overflow: hidden
}

.lt-ie9 #main-nav>ul>li>ul {
    position: absolute;
    left: -9999px;
    padding: 6px;
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    -ms-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    -khtml-box-sizing: border-box
}

.lt-ie9 #main-nav>ul>li:hover>ul {
    left: 0
}

.lt-ie9 #main-nav>ul>li>ul>li {
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    -ms-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    -khtml-box-sizing: border-box;
    padding: 6px
}

.lt-ie9 #main-nav>ul>li>ul>li ul li {
    width: 100%
}

.lt-ie9 #main-nav>ul>li.full {
    position: static
}

.lt-ie9 #main-nav>ul>li.full>ul {
    width: 100%!important
}

.lt-ie9 #main-nav>ul>li.end-menu-item:hover>ul {
    right: 0;
    left: auto
}

.lt-ie9 #main-nav>ul>li.columns-5>ul {
    width: 600%
}

.lt-ie9 #main-nav>ul>li.columns-4>ul {
    width: 480%
}

.lt-ie9 #main-nav>ul>li.columns-3>ul {
    width: 360%
}

.lt-ie9 #main-nav>ul>li.columns-2>ul {
    width: 240%
}

.lt-ie9 #main-nav>ul>li.columns-1>ul {
    width: 120%
}

.lt-ie9 #main-nav>ul>li.columns-2>ul li.colspan-2 {
    width: 100%
}

.lt-ie9 #main-nav>ul>li.columns-3>ul>li.colspan-2 {
    width: 66.66666666%
}

.lt-ie9 #main-nav>ul>li.columns-3>ul>li.colspan-3 {
    width: 100%
}

.lt-ie9 #main-nav>ul>li.columns-4>ul>li.colspan-2 {
    width: 50%
}

.lt-ie9 #main-nav>ul>li.columns-4>ul>li.colspan-3 {
    width: 75%
}

.lt-ie9 #main-nav>ul>li.columns-4>ul>li.colspan-4 {
    width: 100%
}

.lt-ie9 #main-nav>ul>li.columns-5>ul>li.colspan-2 {
    width: 40%
}

.lt-ie9 #main-nav>ul>li.columns-5>ul>li.colspan-3 {
    width: 60%
}

.lt-ie9 #main-nav>ul>li.columns-5>ul>li.colspan-4 {
    width: 80%
}

.lt-ie9 #main-nav>ul>li.columns-5>ul>li.colspan-5 {
    width: 100%
}

.lt-ie9 #main-nav>ul>li.columns-5>ul>li {
    width: 20%
}

.lt-ie9 #main-nav>ul>li.columns-4>ul>li {
    width: 25%
}

.lt-ie9 #main-nav>ul>li.columns-3>ul>li {
    width: 33.333333333333336%
}

.lt-ie9 #main-nav>ul>li.columns-2>ul>li {
    width: 50%
}

.lt-ie9 #main-nav>ul>li.columns-1>ul>li {
    width: 100%
}

.lt-ie9 #main-nav ul {
    margin-left: 0!important;
    display: block!important
}

.lt-ie9 #placeholder-content {
    font-size: 16px
}

#page-wrap {
    width: 100%;
    margin: 0 auto;
    background: #eaeaea;
}
#main-nav ul{
  margin-bottom: 0;
}
/*#placeholder-content {
    color: #c1d1ff;
    max-width: 930px;
    padding: 0 24px;
    margin: 2em auto
}*/

#placeholder-content h1 {
    color: #fff
}

#main-nav .menu-contact-form {
    overflow: hidden
}

#main-nav .menu-contact-form .menu-contact-label {
    display: block;
    margin-top: 1.48em
}

#main-nav .menu-contact-form .menu-contact-input {
    margin-top: 4px;
    padding: 6px;
    display: block;
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    -ms-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    -khtml-box-sizing: border-box;
    width: 100%
}

#main-nav .menu-contact-form .menu-submit-button {
    color: #fff;
    border: 0;
    background: #1ba3e3;
    width: 50%;
    margin-top: 1.48em;
    float: right;
    height: 32px;
    line-height: 32px;
    padding: 0 32px
}

.menu-content img {
    padding: .5em 0
}
@media (max-width:767px){
  .menu-content img{
    width: 100%;
  }
}
#main-nav span{
  font-size: 16px;
}
