@font-face {font-family: "ordinary";
  src: url('ordinary.eot'); /* IE9*/
  src: url('ordinary_.eot#iefix') format('embedded-opentype'), /* IE6-IE8 */
  url('ordinary.woff') format('woff'), /* chrome、firefox */
  url('ordinary.ttf') format('truetype'), /* chrome、firefox、opera、Safari, Android, iOS 4.2+*/
  url('ordinary.svg#ordinary') format('svg'); /* iOS 4.1- */
}

@font-face {font-family: "outline";
  src: url('outline.eot'); /* IE9*/
  src: url('outline_.eot#iefix') format('embedded-opentype'), /* IE6-IE8 */
  url('outline.woff') format('woff'), /* chrome、firefox */
  url('outline.ttf') format('truetype'), /* chrome、firefox、opera、Safari, Android, iOS 4.2+*/
  url('outline.svg#outline') format('svg'); /* iOS 4.1- */
}

@font-face {font-family: "RoundBorder";
  src: url('RoundBorder.eot'); /* IE9*/
  src: url('RoundBorder_.eot#iefix') format('embedded-opentype'), /* IE6-IE8 */
  url('RoundBorder.woff') format('woff'), /* chrome、firefox */
  url('RoundBorder.ttf') format('truetype'), /* chrome、firefox、opera、Safari, Android, iOS 4.2+*/
  url('RoundBorder.svg#RoundBorder') format('svg'); /* iOS 4.1- */
}

@font-face {font-family: "SquareBorder";
  src: url('SquareBorder.eot'); /* IE9*/
  src: url('SquareBorder_.eot#iefix') format('embedded-opentype'), /* IE6-IE8 */
  url('SquareBorder.woff') format('woff'), /* chrome、firefox */
  url('SquareBorder.ttf') format('truetype'), /* chrome、firefox、opera、Safari, Android, iOS 4.2+*/
  url('SquareBorder.svg#SquareBorder') format('svg'); /* iOS 4.1- */
}

@font-face {font-family: "ring";
  src: url('ring.eot'); /* IE9*/
  src: url('ring_.eot#iefix') format('embedded-opentype'), /* IE6-IE8 */
  url('ring.woff') format('woff'), /* chrome、firefox */
  url('ring.ttf') format('truetype'), /* chrome、firefox、opera、Safari, Android, iOS 4.2+*/
  url('ring.svg#ring') format('svg'); /* iOS 4.1- */
}

[class^="ico-"] {
  display:inline-block;
  vertical-align:middle;
  margin:0 .3em;
  font-style:normal;
  -webkit-font-smoothing: antialiased;
  -webkit-text-stroke-width: 0.2px;
  -moz-osx-font-smoothing: grayscale;	
}

.ico-1 {
  font-family:"ordinary" !important;
}

.ico-2 {
  font-family:"outline" !important;
}


.ico-3 {
  font-family:"RoundBorder" !important;
}

.ico-4 {
  font-family:"SquareBorder" !important;
}

.ico-5 {
  font-family:"ring" !important;
}
/*animate*/
.rotation{
  -webkit-animation: rotation  .8s infinite linear;
  animation: rotation  .8s infinite linear;
}
@-webkit-keyframes rotation {
  0% { -webkit-transform: rotateZ(0deg);}
  100% { -webkit-transform: rotateZ(360deg);}
}
@keyframes rotation {
  0% { transform: rotateZ(0deg);}
  100% { transform: rotateZ(360deg);}
}
.heartbeat{
  -webkit-animation: heartbeat  1.2s infinite ease-in;
  animation: heartbeat  1.2s infinite ease-in;
}
@-webkit-keyframes heartbeat {
  0% { -webkit-transform: scale(1);opacity: 1;}
  15% { -webkit-transform: scale(1.3);opacity: .3;}
  30% { -webkit-transform: scale(1);opacity: 1;}
}
@keyframes heartbeat {
  0% { transform: scale(1);opacity: 1;}
  15% { transform: scale(1.3);opacity: .3;}
  30% { transform: scale(1);opacity: 1;}
}
.trigger:hover{
  -webkit-animation: trigger .2s ease;
  animation: trigger .2s ease;
}
@-webkit-keyframes trigger {
  0% { -webkit-transform: rotateZ(0deg);}
  100% { -webkit-transform: rotateZ(180deg);}
}
@keyframes trigger {
  0% { transform: rotateZ(0deg);}
  100% { transform: rotateZ(180deg);}
}
